body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

.header {
    background-color: blue;
}

.header h1 {
    margin: 0;
    padding: 1rem 3rem;
    color: white;
}

.section {
    display: flex;
    justify-content: center;
}

.section.open-details {
    justify-content: space-between;
    height: 90.5vh;
}

#anime-magazine {
    max-width: 1200px;
    padding: 1rem 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
}

.anime-card {
    background-color: white;
    margin: 5px;
    border-radius: .25rem !important;
    width: 180px;
    max-height: 370px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.anime-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.anime-card img {
    width: 100%;
    max-height: 250px;
}

.anime-card h2 {
    font-size: 18px;
    margin-bottom: 1rem;
}

.anime-card button {
    width: 100%;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
    font-weight: bold;
}

.anime-card button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#favorites.selected {
    background-color: blue;
    color: white;
}

.error {
    text-align: center;
    color: red;
}

.details {
    display: none;
}

.details.open {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: darkgrey;
    padding: 1rem;
    overflow-y: auto;
    width: 25%;
}

.details-content img {
    display: block;
    margin: 5px auto;
    border-radius: .25rem;
    width: 250px;
    height: auto;
}

.details-content h2 {
    margin: 0;
    padding: 1em;
}

.details-content p {
    margin: 0;
    padding: 0 1em;
}

.details-close {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .25rem;
    margin: 5px;
    padding: .25em .5em;
    font-weight: bold;
    font-size: 22px;
    color: black;
    cursor: pointer;
}
